<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <link rel="stylesheet" href="/public/css/create_order.css">
    <link rel="stylesheet" href="/public/css/new_address.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>

<body>
    <%- include('common/add_new_address.ejs') %>

        <div class="container bg-bright order-box py-3">
            <div class="inner ">
                <div class="container main">
                    <div class="heading">
                        <span class="index">1</span>
                        <span class="name">LOGIN OR SIGNUP</span>
                    </div>
                    <div class="selected "><span>
                            <%= user.name %>
                        </span><span>Phone No :<%= user.phone_no %></span></div>
                </div>
                <!-- <div class="container explore">lor</div> -->



            </div>
            <div class="inner">
                <div class="container main">
                    <div class="heading ">
                        <span class="index">2</span>
                        <span class="name">DELIVERY ADDRESS</span>
                    </div>
                    <div class="selected"></div>
                </div>
                <div class="container explore active">
                    <button class="new_address my-2"
                        onclick="{document.querySelector('#address_box').style.display='block'}">Add New
                        Address</button>
                    <% user.address.forEach(address=> { %>
                        <div class=" saved_address">
                            <span class="landmark">
                                <%= address.landmark %>
                            </span>
                            <span class="city">
                                <%= address.city %>
                            </span>
                            <span class="pincode">
                                <%= address.pincode %>
                            </span>
                            <span class="state">
                                <%= address.state %>
                            </span>
                            <div class="phone_no"><span>Name: <%= address.name %> ,</span> Phone No : <%=
                                    address.phone_no %>
                            </div>
                            <button class="edit_btn rounded">edit</button>
                            <button class="selection_btn ">Dilever Here</button>
                        </div>
                        <% }) %>

                </div>
            </div>
            <div class="inner">
                <div class="container main">
                    <div class="heading ">
                        <span class="index">3</span>
                        <span class="name">ORDER SUMMARY</span>
                    </div>
                    <div class="selected"></div>
                </div>
                <div class="container explore ">here will all the products</div>
            </div>
            <div class="inner">
                <div class="container main">
                    <div class="heading ">
                        <span class="index">4</span>
                        <span class="name">PAYMENT OPTIONS</span>
                    </div>
                    <div class="selected"></div>
                </div>
                <div class="container explore ">dsf</div>
            </div>

        </div>
        <script>
            const order_page_elements = document.querySelectorAll('.inner')
            const explored_elements = document.querySelectorAll('.explore')

            order_page_elements.forEach(e => {
                e.addEventListener('click', () => {
                    remove_class(explored_elements, 'active');
                    let a = e.querySelector('.explore')
                    a.classList.add('active')

                })
            })

            function remove_class(elements, classname) {
                elements.forEach(e => {
                    e.classList.remove(classname);
                })
            }
        </script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N"
            crossorigin="anonymous"></script>
</body>

</html>